<span class="table-title "><%= @trap.name %></span>
<table class="trap-list-table">
  <thead>
    <tr>
      <td>#</td>
      <td>Created at</td>
      <td>Remote ip</td>
      <td>Request method</td>
      <td></td>

    </tr>
  </thead>
  <tbody>
    <% @requests.each_with_index do |request, index| %>
    <tr>
      <td><%= index + 1%></td>
      <td><%= request.created_at.strftime("%F %T") %></td>
      <td><%= request.remote_ip %></td>
      <td><%= request.request_method %></td>
      <td><%= link_to 'Details', request %></td>
    </tr>
    <% end %>
    <td class="manipulation-bar"></td>
  </tbody>
</table>
<div class="listing-manipulation">
  <div>
    <%= link_to 'Delete', @trap, method: :delete %>
  </div>
  <div>
    <%= link_to 'Edit', @trap %>
  </div>
  <div>
    <%= link_to 'Back', traps_path %>
  </div>
</div>