<!DOCTYPE html>
<html>
<head>
  <title>ReqApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="header">
    <p class="home-page-link home-page-link-style">
      Welcome to Request Trap tool.
    </p>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
  </div>
</body>
</html>
